@model Models.WrestlerCRUD.WrestlerDetail

@{
    ViewBag.Title = "Details";
}

    <style>
        body {
            background-color: darkgray;
        }

        .btn {
            background-color: darkgoldenrod;
            color: black;
            border: solid 1px black;
        }

            .btn:hover {
                background-color: black;
                color: gold;
            }

        #linkColor a {
            color: black;
            background-color: darkgoldenrod;
            border: solid 1px black;
            border-radius: 5px;
            padding: 10px;
        }

            #linkColor a:hover {
                color: gold;
                background-color: black;
            }
    </style>

<h2>Wrestler Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WrestlerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WrestlerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RingName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RingName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PromotionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PromotionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Losses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Losses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

    </dl>
</div>
<p id="linkColor">
    @Html.ActionLink("Edit", "Edit", new { id = Model.WrestlerId }) 
    @Html.ActionLink("Back to List", "Index")
</p>
