@model IEnumerable<Models.WrestlerCRUD.WrestlerListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Wrestlers</h2>

<p>
    @Html.ActionLink("Create New Wrestler", "Create")
</p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        @ViewBag.SaveResult
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WrestlerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RingName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsStarred)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Promotion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wins)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Losses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WrestlerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RingName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsStarred, new { Id = item.WrestlerId })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PromotionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wins)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Losses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUtc)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.WrestlerId }) |
                @Html.ActionLink("Details", "Details", new { id = item.WrestlerId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.WrestlerId })
            </td>
        </tr>
    }

</table>

@section scripts {
    <script language="javascript" type="text/javascript">
     $(document).ready(function () {
         $("i[data-toggle='star']")
             .css({ "cursor": "pointer" })
             .click(function (e) {
                 var target = $(e.target);
                 var wrestlerId = target.attr("data-id");
                 var starSet = target.hasClass("glyphicon-star");

                 $.ajax({
                     method: starSet ? "DELETE" : "PUT",
                     url: "/api/wrestler/" + wrestlerId + "/star",
                     data: null
                 })
                 .done(function (r) {
                     target.removeClass();
                     target.addClass("glyphicon " + (starSet ? "glyphicon-star-empty" : "glyphicon-star"));
                 })
                 .fail(function (r) {
                     alert("Failed to change star status");
                 });
             });
     });
    </script>
}
