@model IEnumerable<Models.PromotionListItem>

@{
    ViewBag.Title = "Index";
}


<style>
    body {
        background-color: darkgray;
    }

    .btn {
        background-color: darkgoldenrod;
        color: black;
        border: solid 1px black;
    }

        .btn:hover {
            background-color: black;
            color: gold;
        }

    #linkColor a {
        color: black;
        background-color: darkgoldenrod;
        border: solid 1px black;
        border-radius: 5px;
        padding: 10px;
    }

        #linkColor a:hover {
            color: gold;
            background-color: black;
        }
</style>

<h2>Promotions</h2>

<p id="linkColor">
    @Html.ActionLink("Create New Promotion", "Create")
</p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        @ViewBag.SaveResult
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

@foreach (var item in Model)
{
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#info">
        @Html.DisplayFor(modelItem => item.PromotionName)
    </button>

    <div id="info" class="collapse">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PromotionId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PromotionName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsStarred)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateFounded)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Website)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedUtc)
                </th>
                <th></th>
            </tr>


            <tr id="info" class="collapse">
                <td id="info">
                    @Html.DisplayFor(modelItem => item.PromotionId)
                </td>
                <td id="info" class="collapse">
                    @Html.DisplayFor(modelItem => item.PromotionName)
                </td>
                <td id="info" class="collapse">
                    @Html.DisplayFor(modelItem => item.IsStarred, new { Id = item.PromotionId })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateFounded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Website)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedUtc)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PromotionId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.PromotionId })
                </td>
            </tr>
        </table>
    </div>
}

@section scripts {
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $("i[data-toggle='star']")
                .css({ "cursor": "pointer" })
                .click(function (e) {
                    var target = $(e.target);
                    var promotionId = target.attr("data-id");
                    var starSet = target.hasClass("glyphicon-star");

                    $.ajax({
                        method: starSet ? "DELETE" : "PUT",
                        url: "/api/promotion/" + promotionId + "/star",
                        data: null
                    })
                        .done(function (r) {
                            target.removeClass();
                            target.addClass("glyphicon " + (starSet ? "glyphicon-star-empty" : "glyphicon-star"));
                        })
                        .fail(function (r) {
                            alert("Failed to change star status");
                        });
                });
        });
    </script>
}