<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #222222;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

            .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: darkgoldenrod;
                display: block;
                transition: 0.3s;
            }

                .sidenav a:hover {
                    color: gold;
                    text-decoration:none
                }

            .sidenav closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }

            #myNav {
                color:darkgoldenrod;
            }

            #myNav:hover {
                color:gold;
            }
    </style>
    <title>@ViewBag.Title - WrestleHeavy</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span style="font-size: 30px; cursor:pointer;" id="myNav" onclick="openNav()">&#9776; Menu</span>
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="https://localhost:44348/">Home</a>
        @if (User.Identity.IsAuthenticated)
        {
            <a href="https://localhost:44348/Promotion">Promotions</a>
            <a href="https://localhost:44348/Wrestler">Wrestlers</a>
            <a href="https://localhost:44348/Title">Titles</a>
        }
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#contactModal">Contact</button>
        <div class="modal" id="contactModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Contact Information</h4>
                    </div>
                    <div class="modal-body">
                        <p>Email: s.mackey.coding@gmail.com</p>
                        <p>LinkedIn: https://www.linkedin.com/in/stephen-mackey-46287a83/</p>
                        <p>GitHub: https://github.com/SMackeyCoding</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Wrestle Heavy</p>
        </footer>
    </div>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
