@using Microsoft.AspNet.Identity

<style>
    #nav-color {
        color: darkgoldenrod;
        background-color: #222222;
    }

        #nav-color:hover {
            color: gold;
        }

    #nav-color a {
        color: darkgoldenrod;
        background-color: #222222;
    }

        #nav-color a:hover {
            color: gold;
        }
</style>

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" id="nav-color">
                    Hello @User.Identity.GetUserName()!
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" style="background-color: #222222">
                    <li id="nav-color">@Html.ActionLink("Change Password", "ChangePassword", "Manage")</li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()" id="nav-color">Log off</a></li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "nav-color" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "nav-color" })</li>
    </ul>
}
