@model Models.TitleCRUD.TitleDetail

@{
    ViewBag.Title = "Delete";
}

    <style>
        body {
            background-color: darkgray;
        }

        .btn {
            background-color: darkgoldenrod;
            color: black;
            border: solid 1px black;
        }

            .btn:hover {
                background-color: black;
                color: gold;
            }

        #linkColor a {
            color: black;
            background-color: darkgoldenrod;
            border: solid 1px black;
            border-radius: 5px;
            padding: 8px;
        }

            #linkColor a:hover {
                color: gold;
                background-color: black;
            }
    </style>

<h2>Deleting a Title</h2>

<h3>Are you sure you want to delete this title?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TitleId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateEstablished)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEstablished)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PromotionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PromotionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WrestlerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WrestlerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" id="linkColor">
            <input type="submit" value="Delete" class="btn btn-default" /> 
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
