@model Models.TitleCRUD.TitleEdit

@{
    ViewBag.Title = "Edit";
}

    <style>
        body {
            background-color: darkgray;
        }

        .btn {
            background-color: darkgoldenrod;
            color: black;
            border: solid 1px black;
        }

            .btn:hover {
                background-color: black;
                color: gold;
            }

        #linkColor a {
            color: black;
            background-color: darkgoldenrod;
            border: solid 1px black;
            border-radius: 5px;
            padding: 10px;
        }

            #linkColor a:hover {
                color: gold;
                background-color: black;
            }
    </style>

<h2>Updating Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.TitleId)

        <div class="form-group">
            @Html.LabelFor(model => model.TitleName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TitleName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TitleName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsStarred, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsStarred)
                    @Html.ValidationMessageFor(model => model.IsStarred, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateEstablished, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateEstablished, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateEstablished, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WrestlerId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.WrestlerId, Model.Wrestlers, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Wrestlers, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div id="linkColor">
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
