@model IEnumerable<Models.TitleCRUD.TitleListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Titles</h2>

<p>
    @Html.ActionLink("Create New Title", "Create")
</p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        @ViewBag.SaveResult
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TitleId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TitleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsStarred)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateEstablished)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PromotionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WrestlerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TitleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TitleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsStarred, new { Id = item.TitleId })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateEstablished)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PromotionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WrestlerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUtc)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TitleId }) |
                @Html.ActionLink("Details", "Details", new { id = item.TitleId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TitleId  })
            </td>
        </tr>
    }

</table>

@section scripts {
    <script language="javascript" type="text/javascript">
     $(document).ready(function () {
         $("i[data-toggle='star']")
             .css({ "cursor": "pointer" })
             .click(function (e) {
                 var target = $(e.target);
                 var titleId = target.attr("data-id");
                 var starSet = target.hasClass("glyphicon-star");

                 $.ajax({
                     method: starSet ? "DELETE" : "PUT",
                     url: "/api/title/" + titleId + "/star",
                     data: null
                 })
                 .done(function (r) {
                     target.removeClass();
                     target.addClass("glyphicon " + (starSet ? "glyphicon-star-empty" : "glyphicon-star"));
                 })
                 .fail(function (r) {
                     alert("Failed to change star status");
                 });
             });
     });
    </script>
}
